@charset "utf-8";
/*---CSS Document---*/

/*---Import Reset---*/
@import url("reset.css");
/*---Import Reset End---*/


/*---CSS 3 @ Fontface---*/
@font-face {
    font-family: 'lobster_1.4regular';
    src: url('../font/lobster_1.4-webfont.eot');
    src: url('../font/lobster_1.4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lobster_1.4-webfont.woff') format('woff'),
         url('../font/lobster_1.4-webfont.ttf') format('truetype'),
         url('../font/lobster_1.4-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;

}/*---CSS 3 @ Fontface End---*/


/*---Webpage Basic Structure---*/
html {
  height:100%;
  background:url("../images/background.jpg");
  border:1px solid #000;
  margin:0;
  padding:0;
}

html, body {
  height:100%;
  border:0px;
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
  color:#585858;
  font-size:13px;
  line-height:24px;
  font-weight:normal;
  text-align:justify;
  hyphens:none;  
  font-smooth:always;
  -webkit-font-smoothing:antialiased;
}

.wrapper{
  width:100%;
  min-height:100%;
  height:auto; 
  position:relative;
  top:0px;
}

header {
  width:100%;
  height:65px;
  background:url("../images/header.png") repeat-x;
  position:fixed;
  top:0;
  left:0;
  z-index:999;
}

.content {
  height:auto; !important
  min-height: 100%;
  height:100%;
  margin:0 auto;
  width:1000px;
}

.header_wrapper{
  width:1000px; 
  margin:0 auto;
  height:auto;
}

.sidebar_wrapper{
  width:240px; 
  float:left;
  height:auto;
}

.content_wrapper{
  width:760px;
  float:right; 
  margin:100px 0px 30px 0px;
  height:auto;
  vertical-align:top;
}

/*---Side Bar---*/
#sidecurrent{
  text-decoration:none;
  background:#00929f center;
  width:auto;
  height:30px;
  display:block;
  color:#fff200;
}

.side_bar {
  font-family: 'lobster_1.4regular', Arial, Helvetica, sans-serif;
  font-weight:normal;
  width:240px;
  height:100%;
  position:fixed;
  margin:0;
  top:0;
  bottom:0;
  display:block;
  z-index:9999;
  background:url("../images/side_bar.jpg") repeat-y;
}

	.side_bar ul{
	  list-style:none;
	  margin:0;
	  padding-top:30px;
	  text-align:center;
	}
		.side_bar li{
		  width:233px;
		  height:33px;
		  padding:5px 0px 5px 0px;
		}
		
		.side_bar li a{
		  background:url('../images/menu.png') center no-repeat;
		  font-weight:normal;
		  text-align:center;
		  margin:0;
		  padding:0px;
		  width:240px;
		  height:33px;
		  line-height:33px;
		  text-decoration:none;
		  font-size:16px;
		  color:#224468;
		  display:block;
		}
	
		.side_bar a:hover,
		.side_bar li:hover a{
		  background:url('../images/menu_active.png') center no-repeat;
		  font-weight:normal;
		  margin:0;
		  width:240px;
		  padding:0px;
		  height:33px;
		  line-height:33px;
		  text-decoration:none;
		  font-size:16px;
		  color:#224468;
		  display:block;
		}

.slogan_banner {
  background:url('../images/slogan_banner.png') no-repeat;
  width:484px;
  height:44px;
  margin:10px 0px 0px 200px; 
  float:left;
}

.gallery {
	margin:10px;
	/*0 0 25px;*/
	float:left;
}
.gallery li {
	display: inline-block;
	margin: 5px;
	list-style: none;
	float:left;
	vertical-align:top;
}

.gallery li li {
	float:none;
}

/*.gallery a {
	position: relative;
	display: inline-block;
}
*/
.gallery span {
	position: relative;
	display: inline-block;
}

.clip /*a:before*/ {
	position: absolute;
	content: ' ';
	top: -30px;
	left: -4px;
	width: 56px;
	height: 56px;
	z-index:500;
	background: url('../images/clip.png') no-repeat;
}

.shadow {
	position: absolute;
	top: 235px;
	left: -8px;
	width: 248px;
	height: 76px;
	z-index:90;
	background: url('../images/box_shadow.png') no-repeat;
}


.gallery_div {
  height:auto;
  background:#fff; 
  display:block;
  border:1px solid #ccc;
  padding-bottom:30px;
}

.zigzag_line {
  background: url('../images/zigzag.png') bottom repeat-x;
  width:auto;
  height:90px;
  vertical-align:top;
}

.wheel_bullet {
  background: url('../images/wheel_icon.png') no-repeat; 
  height:33px;
  width:35px;
  position:absolute;
  top:30px;
  left:10px;
}

.img {
  border:3px solid #fff;
}

.image_border {
  width:auto;
  height:auto;
  border:1px solid #ccc;
}

.outlet_box {
  width:220px;
  height:116px;
  background:#e8decd;
  text-align:left;
  margin:0px 0px 0px 5px;
  line-height:12px;
}

/*---Webpage Basic Structure End---*/


/*---Font Formating---*/
p{
  margin:10px;
  line-height:24px;
  padding:0;
  text-align:justify;
}

h1{
  font-family: 'lobster_1.4regular', Arial, Helvetica, sans-serif;
  font-size:24px;
  font-weight:normal;
  line-height:65px;
  color:#224468;
  padding:0;
  margin:0;
  text-shadow:0 1px 1px rgba(255,255,255,.8);
}

h2{
  font-family: 'lobster_1.4regular', Arial, Helvetica, sans-serif;
  font-size:24px;
  font-weight:normal;
  height:auto;
  line-height:24px;
  color:#224468;
  margin:0;
  padding:0;
  position:absolute;
  top:35px;
  left:50px;
}

h3{
  font-family: 'lobster_1.4regular', Arial, Helvetica, sans-serif;
  font-size:18px;
  font-weight:normal;
  line-height:28px;
  color:#224468;
  margin:0px 10px 10px 10px;
  padding:0;
  text-shadow:0 1px 1px rgba(255,255,255,.8);
}

h4{
  font-family: 'lobster_1.4regular', Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:normal;
  line-height:24px;
  color:#224468;
  padding:0;
  margin:0;
  text-shadow:0 1px 1px rgba(255,255,255,.8);
}


h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px;
  font-weight:bold;
  line-height:40px;
  color:#000000;
  padding:0;
  margin:0;
}

h6 {
  font-family: 'lobster_1.4regular', Arial, Helvetica, sans-serif;
  font-size:18px;
  font-weight:normal;
  line-height:40px;
  width:484px;
  color:#ffffff;
  padding-left:60px;
  display:inline-block;
}
/*---Font Formating End---*/



.view_map {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/view_map_btn.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:103px;
  height:36px;
}

.view_map:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/view_map_hover_btn.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:103px;
  height:36px;
}

.back_btn {
  margin: 0;
  padding: 20px 0px 0px 0px;
  border: 0;
  background: transparent url('../images/back.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:202px;
  height:52px;
  float:left;
  position:absolute;
  bottom:0;
}

.back_btn:hover {
  margin: 0;
  padding: 20px 0px 0px 0px;
  border: 0;
  background: transparent url('../images/back_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:202px;
  height:52px;
  float:left;
  position:absolute;
  bottom:0;
}

.btn_more {
  margin: 0px 10px 10px 0px;
  padding: 0;
  border: 0;
  background: transparent url('../images/more_btn.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:66px;
  height:30px;
  position:absolute;
  bottom:0;
  right:0;
  z-index:998;
}

.btn_more:hover {
  margin: 0px 10px 10px 0px;
  padding: 0;
  border: 0;
  background: transparent url('../images/more_hover_btn.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:66px;
  height:30px;
  position:absolute;
  bottom:0;
  right:0;
  z-index:998;
}

.inactive {
  margin: 0px 10px 10px 0px;
  padding: 0;
  border: 0;
  background: transparent url('../images/more_hover_btn.png') no-repeat center bottom;
  text-indent: -1000em;
  display:inline-block;
  width:66px;
  height:30px;
  position:absolute;
  bottom:0;
  right:0;
  z-index:998;
}

